USE [master]
GO
/****** Object:  Database [ATM_DB]    Script Date: 5/21/2026 11:35:23 PM ******/
CREATE DATABASE [ATM_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATM_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATM_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATM_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM_DB]
GO
/****** Object:  Table [dbo].[AtmAccounts]    Script Date: 5/21/2026 11:35:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtmAccounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](50) NOT NULL,
	[CardNumber] [varchar](12) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[PIN] [varchar](6) NOT NULL,
	[AccountNumber] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionHistory]    Script Date: 5/21/2026 11:35:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionHistory](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[TransactionType] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AtmAccounts] ON 

INSERT [dbo].[AtmAccounts] ([AccountId], [AccountName], [CardNumber], [Balance], [PIN], [AccountNumber]) VALUES (1, N'John Doe', N'123456789123', CAST(61200.00 AS Decimal(18, 2)), N'123456', N'123456783456')
INSERT [dbo].[AtmAccounts] ([AccountId], [AccountName], [CardNumber], [Balance], [PIN], [AccountNumber]) VALUES (2, N'Juan dela Cruz', N'123456789001', CAST(15000.00 AS Decimal(18, 2)), N'123456', N'ACC000000001')
INSERT [dbo].[AtmAccounts] ([AccountId], [AccountName], [CardNumber], [Balance], [PIN], [AccountNumber]) VALUES (3, N'Maria Santos', N'123456789002', CAST(28500.50 AS Decimal(18, 2)), N'234567', N'ACC000000002')
SET IDENTITY_INSERT [dbo].[AtmAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionHistory] ON 

INSERT [dbo].[TransactionHistory] ([TransactionID], [AccountId], [TransactionType], [Amount], [TransactionDate]) VALUES (1, 1, N'Withdrawal', CAST(2000.00 AS Decimal(18, 2)), CAST(N'2026-04-24T19:11:13.717' AS DateTime))
INSERT [dbo].[TransactionHistory] ([TransactionID], [AccountId], [TransactionType], [Amount], [TransactionDate]) VALUES (3, 1, N'Withdrawal', CAST(300.00 AS Decimal(18, 2)), CAST(N'2026-04-24T19:21:49.663' AS DateTime))
INSERT [dbo].[TransactionHistory] ([TransactionID], [AccountId], [TransactionType], [Amount], [TransactionDate]) VALUES (6, 1, N'Deposit', CAST(30000.00 AS Decimal(18, 2)), CAST(N'2026-04-24T19:25:32.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[TransactionHistory] OFF
GO
ALTER TABLE [dbo].[AtmAccounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[TransactionHistory] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[TransactionHistory]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[AtmAccounts] ([AccountId])
GO
USE [master]
GO
